$purple: #f5f5f5;

.about-text {
    text-align: left;
    .subHeader {
        padding: 8px 0;
    }
}
.my-image {
    border-style: groove;
}

.skills {
    .circular {
        margin-top: 60px;
        .circle-anim {
            width: 150px;
            padding: 0 8px;
        }
        .circle-text {
            margin-top: 8px;
            color: #f5f5f5;
            font-size: 28px;
        }
    }
    h2.subheader {
        color: #f5f5f5;
        text-align: left;
        font-size: 28px;
        line-height: 180%;
    }
}