
html {
  overflow: scroll;
  overflow-x: hidden;
  body {
    //background-color: black;
    background: transparent -webkit-gradient(linear,left top,left bottom,from(#053354),to(#006aa5)) 0 0 no-repeat padding-box;
    background: transparent -o-linear-gradient(top,#053354 0,#006aa5 100%) 0 0 no-repeat padding-box;
    background: transparent linear-gradient(180deg,#053354 0,#006aa5 100%) 0 0 no-repeat padding-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
