footer {
    color: whitesmoke;
    position: absolute;
    border-top: 2px solid whitesmoke;
    //bottom: 0;
    background: #006aa5;
    width: 100%;
    //height: 2.5rem; 
    //position: absolute;
    //min-height: 126px;
    .rights {
        //bottom: 0;
        //position: absolute;
        margin: 8px 0;
        text-align: center;
    }
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 35px;
    }
    a {
        margin: 8px;
    }
    
    .side-bar {
        text-align: end;
        margin: 8px 0;
        img {
            color: whitesmoke;
            font-size: 24px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: transparent;
            border: none;
            margin: 8px;
        }
    }
    @media screen and (max-width: 500px) {
        .side-bar {
            text-align: center;
        }
    }
}